{% extends 'admin:layout/page.twig' %}

{% block title %}{{ 'user.group.groups' | trans }}{% endblock %}

{% block body %}
    <div class="sf-heading">
        <nav class="sf-breadcrumb" aria-label="breadcrumb">
            <ul class="sf-breadcrumb__list">
                <li class="sf-breadcrumb__item"><a href="{{ path('admin.dashboard') }}">{{ 'user.dashboard' | trans }}</a></li>
                <li class="sf-breadcrumb__item">{{ 'user.user.users' | trans }}</li>
                <li class="sf-breadcrumb__item active" aria-current="page">{{ 'user.group.groups' | trans }}</li>
            </ul>
        </nav>
        <h1>{{ 'user.group.groups' | trans }}</h1>
        <a href="{{ path('admin.group.create') }}" class="btn btn-primary">
            {{ 'user.group.create' | trans }}
        </a>
    </div>
    <div class="sf-main__wrapper">
        {{ dataGrid('admin-groups', path('admin.group.list')) }}
    </div>
{% endblock %}
